.navigation-bar {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 70;
  min-height: 70;
  border-top-width: 1;
  border-color: #e0e0e0;
}

.navigation-button-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #2196F3;
}

.navigation-button-wrapper:active {
  background-color: green;
}

.label {
  font-size: 14;
  text-align: center;
  color: white;
  font-weight: bold;
}